body{
margin: 0;
}
header img{
height: 100px;
}
nav a{
text-decoration: none;
color: chartreuse;
font-size: 16px;
padding: 5px, 15px;
font-family: Audiowide;
&:hover{
color: aqua;
}
}
header{
text-align: center;
box-shadow: 0px, 0px, 5px;
background-color: aliceblue;
}
nav{
padding: 10px;
}